@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixin" as *;

.not-found-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .not-found-wrapper {
    max-width: 120rem;
    display: flex;
    justify-content: center;

    .not-found-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;

      h1 {
        font-size: 10rem;
      }

      p {
        font-size: 2.5rem;
        color: $text-color;
        text-align: left;
      }
    }
  }
}
