@use "@/styles/abstracts/variables" as *;

// Mixin template for icons
@mixin icon-template {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  color: $secondary-color;
}

// Mixin template for common input container
@mixin common-input-container-template {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    width: calc(100% - 30px);
    height: -5px;
    background: transparent;
    z-index: 1;
  }

  label {
    position: absolute;
    left: 15px;
    top: 0;
    transform: translateY(-50%);
    background: $background-color;
    padding: 0 5px;
    font-size: 1.5rem;
    color: $text-color;
    z-index: 2;
  }
}

// Mixin template for common input fields
@mixin common-input-template {
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
  border: 2px solid $border-color;
  outline: none;
  font-size: 1.3rem;
  padding-left: 1rem;

  &:focus {
    border-color: $accent-color;
  }
}

// Mixin template for common button design
@mixin common-button-template {
  font-size: 1.6rem;
  font-weight: bold;
  height: 3.5rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  color: $btn-text-color;

  &:hover {
    background-color: $primary-btn-hover;
  }
}

// Mixin for Component layout design
@mixin common-layout-template {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
}
