// Primary Theme Colors
$primary-color: #00548f;
$secondary-color: #e8f0f2;

// Headings
$heading-color: #00548f; //(H1, H2, etc.)
$subheading-color: #4e4e4e; // (H3, H4)
$extra-heading-color: #f39c12;

// Accent and Background
$accent-color: #f39c12;
$background-color: #ffffff;
$text-color: #333333;

// Buttons
$primary-btn-background: #f39c12; // (CTA)
$primary-btn-hover: #ffb84d;
$secondary-btn-background: #3a3f44;
$secondary-btn-hover: #4b4f54;

// Links
$link-color: #00a3e0;
$link-hover: #0081b5;

// Other Elements
$card-background-color: #f4f4f4;
$border-color: #d3d3d3;
$error-color: #e74c3c;
$btn-text-color: #ffffff;
$success-color: #27ae60;
