@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixin" as *;

.job-seeker-registration-container {
  @include common-layout-template;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 3rem 0;
  }

  form {
    width: 35%;
    padding: 1.5rem;
    display: flex;
    gap: 1.2rem;
  }
}
