@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixin";

.registeration-page-container {
  @include common-layout-template;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .registeration-heading {
    h2 {
      margin: 3rem 0;
    }
  }

  .registeration-page-wrapper {
    display: flex;
    gap: 2rem;
  }
}
