@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixin";

.job-seeker-sidebar {
  width: 25rem;
  height: 91vh;
  background-color: $sidebar-background-color;
  padding: 2rem;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1rem;

      a {
        color: $background-color;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.3rem;

        &:hover {
          color: $link-hover;
        }
      }
    }
  }
}
