@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixin" as *;

.user-login-container {
  @include common-layout-template;
  display: flex;
  justify-content: center;

  .user-login-wrapper {
    width: 35%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    h2 {
      margin-top: 3rem;
    }

    form {
      gap: 1.8rem;
    }
  }
}
