@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixin";

.app-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.app-content {
  @include common-layout-template;
  padding: 2rem;
  background-color: $background-color;
  border: 1px solid green;
}
