@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixin" as *;

// App-layout Style
.app-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: $card-background-color;

  // Main App Layout Content
  .app-content {
    @include common-layout-template;
    padding: 2rem;
    margin-bottom: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    min-height: 70vh;
    background-color: $background-color;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 12px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
}

// Job Seeker Layout
.job-seeker-layout {
  display: flex; // Flex container to align sidebar and content side by side
  height: 100vh;

  .content-container {
    display: flex;
    flex-direction: column;
    margin-left: 25rem; // Adjust based on the sidebar width
    width: 100%;
  }

  .layout-content {
    padding: 2rem;
    background-color: $background-color;
    flex-grow: 1; // Ensure content takes the remaining space
  }
}
