// $primary-color: #4e342e; // Header, Heading
// $secondary-color: #f57c00;
// $accent-color: #ff7043; // Call to action
// $background: #f1f8e9;
// $text-color: #212121;
// $primary-btn-background: #ff7043;
// $btn-text-color: #ffffff; // cart background too
// $secondary-btn-background: #4e342e;
// $primary-btn-hover: #ff8a65;
// $secondary-btn-hover: #6d4c41;
// $link-color: #d84315;
// $link-hover: #e64a19;

$primary-background-color: white;
$secondary-background-color: #ece8e7;
$text-color: #333;
$button-text-color: white;
$button-primary-background-color: #b48821;
$button-secondary-background-color: #b68a23;
$error-color: #dd2d4a;
$success-color: #749c75;

//Media Query breakpoints/
$small: 360px;
$medium: 600px;
$large: 800px;
$xlarge: 1024px;
