@import "@/styles/variables";
@import "@/styles/mixin";

body {
  background-color: $background-color;
}

.app {
  width: 100vw;
  display: flex;
  position: relative;

  // Navbar Container
  .navbar-container {
    height: 7rem;
    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    .navbar-items-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100rem;
      width: 100%;
      padding: 0 2rem;

      // Navigation links
      .nav-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        @media (max-width: 768px) {
          display: none; // Hide the nav links on small screens
        }

        // Nav Item
        .nav-item {
          display: flex;
          align-items: center;
          gap: 0.5rem; // Default gap between icon and text on larger screens
          font-size: 1.6rem;
          color: $secondary-color;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            font-weight: bold;
            color: $accent-color;

            .nav-icon {
              color: $accent-color;
            }
          }
        }
      }

      // Logo container
      .logo-container {
        img {
          height: 8rem;
          width: auto;

          @media (max-width: 768px) {
            height: 4rem;
          }
        }
      }

      // Hamburger menu for mobile
      .hamburger-icon {
        display: none;
        font-size: 3rem;
        color: $secondary-color;
        cursor: pointer;

        @media (max-width: 768px) {
          display: block; // Show hamburger on small screens
        }
      }

      // Profile dropdown container
      .profile-container {
        display: flex;
        align-items: center;
        position: relative;

        .profile-icon-wrapper {
          display: flex;
          align-items: center;
          gap: 0.5rem; // Default gap for larger screens
          cursor: pointer;

          &:hover {
            span,
            .profile-icon {
              color: $accent-color;
            }
          }

          span {
            font-size: 1.6rem;
            color: $secondary-color;
            font-weight: bold;
          }

          .profile-icon {
            @include icon-template;
          }
        }

        // Profile dropdown styling (hidden on mobile)
        .profile-dropdown {
          position: absolute;
          top: 3rem;
          right: 0;
          background-color: $card-background-color;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 2;
          width: 200px;
          border-radius: 0.5rem;
          opacity: 0;
          transform: translateY(-10px);
          transition: opacity 0.3s ease, transform 0.3s ease;

          &.open {
            opacity: 1;
            transform: translateY(0);
          }

          // Hide profile dropdown on mobile screens
          @media (max-width: 768px) {
            display: none;
          }

          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .dropdown-link-items {
              text-decoration: none;

              li {
                font-size: 1.5rem;
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 1rem;
                color: $primary-color;
                transition: background-color 0.3s;

                &:hover {
                  background-color: $secondary-color;
                  border-radius: 0.5rem;
                }
              }

              .item-with-border {
                border-top: 1px solid $border-color;
                border-radius: 0.5rem;
              }
            }
          }
        }
      }
    }

    // Dropdown menu for mobile
    .mobile-nav {
      display: none;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column; // Set flex direction to column
        align-items: flex-start; // Align items to start
        background-color: $primary-color;
        position: absolute;
        top: 7rem; // Adjusted position
        right: 0;
        width: 100%;
        padding: 1rem 0; // Added padding for better spacing

        .nav-item {
          display: flex; // Display flex to maintain icon and text alignment
          align-items: center;
          padding: 1rem 2rem; // Adjusted padding
          font-size: 2rem;
          color: $secondary-color;
          text-decoration: none;
          gap: 1rem; // Space between icon and text
          transition: color 0.3s;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }
}
