/* Media Query for mobile screens */
@media (max-width: #{$small}) {
  /* Navbar Component */
  .app {
    .navbar-container {
      .hamburger {
        display: block;
        padding: 0 1rem;
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 10px;
        color: #b48821;
      }
      .navbar {
        .nav-menu {
          display: none;
          gap: 0;
        }
        .logo {
          position: absolute;
          h1 {
            font-size: 3rem;
          }
          top: 21px;
        }
      }
      .expanded {
        background-color: $secondary-background-color;
        min-height: 66vh;
        .nav-menu {
          position: absolute;
          top: 100px;
          left: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
